{% extends "base.html" %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb my-3 border-bottom pb-2">
        <h5 class="breadcrumb-item "><a href="{{ url_for('main.index') }}">Home</a></h5>
        <h5 class="breadcrumb-item"><a>TEAM</a></h5>
        <h5 class="breadcrumb-item active" aria-current="page">BNK 썸</h5>
      </ol>
    </nav>

    <div class="text-center">
        <img src="https://www.wkbl.or.kr/static/images/team/teamlogo_11.png?ver=1.1" class="rounded">
        <p>
            <br>
        </p>
        <h1 class ="text-center"><strong>BNK 썸</strong></h1>
        <p>
            <br>
        </p>

         <div class="row">
            <div class="col"></div>
            <div class="col">
                  <a href="http://bnksumbasket.com/ target="target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/1053/1053515.png">
                  </a>
                  <a href="https://www.instagram.com/bnksum.basketball/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/2111/2111463.png">
                  </a>
                  <a href="https://www.facebook.com/bnksumwbasket" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/124/124010.png">
                  </a>
             </div>
            <div class="col"></div>

         <p>
            <br>
            <br>
        </p>

         </div>
            <p></p>
            <p class = "text-justify"> BNK 썸 여자농구단은 2019년 6월 24일 창단, 여자농구계에 새로운 바람을 일으키고 있습니다. <br />여자프로농구에 목말라 있을 부산 시민과 농구 팬 여러분들게 BNK 썸 여자농구단은 새로운 활력소로 다가갈 것입니다. <br />BNK 썸 여자프로농구단은 BNK금융그룹에 속한 BNK캐피탈을 모기업으로 하고 있으며, BNK부산은행, BNK경남은행, BNK투자증권, BNK저축은행 등의 계열사로 이루어진 지역 최대의 금융그룹으로 지역경제 발전에 이바지하고 있습니다. <br />올시즌을 앞두고는 부산 출신의 박정은 신임 감독과 함께 새 보금자리인 사직 실내체육관에서의 첫 시즌을 준비하고 있으며, 앞으로 부산 및 경남지역 여자농구의 부흥을 위해 최선의 노력을 다하겠습니다.
                </p>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>팀정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
        <div class = row>
            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#f99da2"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">모기업</text>
                    <text x="37%" y="60%" fill="#000000" dy=".3em">BNK</text>
                </svg>

            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#f99da2"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">연고지</text>
                    <text x="37%" y="60%" fill="#000000" dy=".3em">부산</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#f99da2"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">감독</text>
                    <text x="33%" y="60%" fill="#000000" dy=".3em">박정은</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#f99da2"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">코치</text>
                    <text x="15%" y="60%" fill="#000000" dy=".3em">변연하,김영화</text>
                </svg>
            </div>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>선수 정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        이소희
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body">
                        <strong>NO.6 이소희</strong> <br>
                          포지션 - G<br>
                          신장 - 170 cm<br>
                          생년월일 - 2000.08.07<br>
                          출신학교 - 인성여자고등학교<br>
                          드래프트 2018~2019 WKBL 신입선수선발회 / 1라운드 / 2순위 (전체 2순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        김한별
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body">
                        <strong>NO.35 김한별</strong> <br>
                          포지션 - F<br>
                          신장 - 178 cm<br>
                          생년월일 - 1986.11.21<br>
                          출신학교 - 인디애나대<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        진안
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body">
                       <strong>NO.31 진안</strong> <br>
                          포지션 - C<br>
                          신장 - 181 cm<br>
                          생년월일 - 1996.03.23<br>
                          출신학교 - 수원여자고등학교<br>
                          드래프트 2016 WKBL 신입선수선발회 / 1라운드 / 2순위 (전체 2순위)<br>
                      </div>
                    </div>
                  </div>
            </div>


        </div>
    </div>

 </div>
{% endblock %}
