{% extends "base.html" %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb my-3 border-bottom pb-2">
        <h5 class="breadcrumb-item "><a href="{{ url_for('main.index') }}">Home</a></h5>
        <h5 class="breadcrumb-item"><a>TEAM</a></h5>
        <h5 class="breadcrumb-item active" aria-current="page">하나원큐</h5>
      </ol>
    </nav>

    <div class="text-center">
        <img src="https://www.wkbl.or.kr/static/images/team/teamlogo_09.png?ver=1.1" class="rounded">
        <p>
            <br>
        </p>
        <h1 class ="text-center"><strong>하나원큐</strong></h1>
        <p>
            <br>
        </p>

         <div class="row">
            <div class="col"></div>
            <div class="col">
                  <a href="http://www.hanafnbasketball.com/main/mainPage.do target="target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/1053/1053515.png">
                  </a>
                  <a href="https://www.instagram.com/hanabasket_official/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/2111/2111463.png">
                  </a>
                  <a href="https://www.facebook.com/hanabasket/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/124/124010.png">
                  </a>
             </div>
            <div class="col"></div>

         <p>
            <br>
            <br>
        </p>

         </div>
            <p></p>
            <p class = "text-justify"> 하나원큐 여자농구단은 2012년 9월 ‘신세계 쿨캣 여자농구단’을 하나금융그룹이 인수하여 하나외환 여자농구단으로 창단하였으며, 모기업 사명 변경에 따라 KEB하나은행을 거쳐 2020년 4월 팬 공모를 통해 ‘하나원큐 여자농구단’으로 구단명을 새롭게 하였습니다.<br /><br />2021년은 선수 구성의 많은 변화속에 ‘Young & Dynamic’을 팀 슬로건으로 ‘4C’를 선수단 운영전략으로 준비하였습니다. 2021~2022시즌은 도전(Challenge)의 시즌이며, 선수 / 코칭&#8226;지원스텝 모두 자신감(Confidence)을 가지고, 치열한 내부경쟁(Competition)을 통해, 완성된 경기력 (Complete)을 갖추도록 노력하였습니다.<br /><br />이기고 지는 것보다 선수 스스로 최선을 다했는지 못했는지가 더욱 중요하다는  생각으로 ‘Young & Dynamic’슬로건에 맞는 젊은 선수들의 역동적인 플레이로 팬 여러분께 즐거움을 선사할 것입니다.
                </p>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>팀정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
        <div class = row>
            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#88e0a9"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">모기업</text>
                    <text x="28%" y="60%" fill="#000000" dy=".3em">하나은행</text>
                </svg>

            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#88e0a9"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">연고지</text>
                    <text x="37%" y="60%" fill="#000000" dy=".3em">부천</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#88e0a9"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">감독</text>
                    <text x="33%" y="60%" fill="#000000" dy=".3em">김도완</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#88e0a9"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">코치</text>
                    <text x="15%" y="60%" fill="#000000" dy=".3em">이한권,이시준</text>
                </svg>
            </div>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>선수 정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        신지현
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body">
                        <strong>NO.1 신지현</strong> <br>
                          포지션 - G<br>
                          신장 - 174 cm<br>
                          생년월일 - 1995.09.12<br>
                          출신학교 - 선일여자고등학교<br>
                          드래프트 2014 WKBL 신입선수 선발회 / 1라운드 / 1순위 (전체 1순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        양인영
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body">
                        <strong>NO.13 양인영</strong> <br>
                          포지션 - C<br>
                          신장 - 184 cm<br>
                          생년월일 - 1995.03.13<br>
                          출신학교 - 숙명여자고등학교<br>
                          드래프트 2013 WKBL 신입선수 선발회 / 1라운드 / 5순위 (전체 5순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        이채은
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body">
                       <strong>NO.5 이채은</strong> <br>
                          포지션 - G<br>
                          신장 - 171 cm<br>
                          생년월일 - 2000.06.23<br>
                          출신학교 - 인성여자고등학교<br>
                          드래프트 2018~2019 WKBL 신입선수선발회 / 2라운드 / 3순위 (전체 9순위)<br>
                      </div>
                    </div>
                  </div>
            </div>


        </div>
    </div>

 </div>
{% endblock %}
