{% extends "base.html" %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb my-3 border-bottom pb-2">
        <h5 class="breadcrumb-item "><a href="{{ url_for('main.index') }}">Home</a></h5>
        <h5 class="breadcrumb-item"><a>TEAM</a></h5>
        <h5 class="breadcrumb-item active" aria-current="page">KB스타즈</h5>
      </ol>
    </nav>

    <div class="text-center">
        <img src="https://www.wkbl.or.kr/static/images/team/teamlogo_01.png?ver=1.1" class="rounded">
        <p>
            <br>
        </p>
        <h1 class ="text-center"><strong>KB스타즈</strong></h1>
        <p>
            <br>
        </p>

         <div class="row">
            <div class="col"></div>
            <div class="col">
                  <a href="http://www.kbstars.co.kr/kbstars/2022/main.php target="target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/1053/1053515.png">
                  </a>
                  <a href="https://www.instagram.com/kbstarsbasketball/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/2111/2111463.png">
                  </a>
                  <a href="https://www.facebook.com/KBSTARSBASKETBALL/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/124/124010.png">
                  </a>
             </div>
            <div class="col"></div>

         <p>
            <br>
            <br>
        </p>

         </div>
            <p></p>
            <p class = "text-justify"> KB스타즈 농구단은 지난 1963년 창단 이래 팬들의 관심과 사랑을 받으며 성장과 도약을 거듭해 왔습니다. 농구대잔치 시절에는 매 경기 박진감 넘치는 승부로 여자금융부 우승은 물론 통합 우승을 거두며 ‘까치 군단’이라는 닉네임으로 불리웠으며, 프로 출범 이후에는 잠시 주춤했으나 2002겨울리그 정규리그 우승 및 플레이오프 준우승, 2004겨울리그 정규리그 준우승, 2004여름리그 정규리그 우승을 거두며 명문구단으로서의 위상을 되찾았습니다. 또한 과거 박현숙, 이강희, 한현, 정선민, 김지윤, 변연하 등 다수의 국가대표 선수들을 배출하며 세계 속에 대한민국 여자농구를 알리는데 앞장서 왔습니다. 또한 ‘여자농구특별시, 청주’ 라는 수식어와 같이 6번째 선수인 연고지 팬들의 엄청난 응원을 받으면서 대한민국 여자농구의 중흥기를 위해 노력하고 있습니다.<br /><br />2018-2019시즌 창단 첫 통합우승을 달성하였고, 2021년 박신자컵 서머리그에서는 전승 우승으로 유망주들의 성장을 확인할 수 있었습니다. 특히 올 시즌을 앞두고 신임 김완수 감독을 선임하고, FA 최대어 강이슬을 영입하여 전력 보강을 이루었습니다. 또한 국보센터 박지수, 야전사령관 염윤아, 캐논슈터 최희진, 슈퍼땅콩 심성영, 만능 김민정, 2019-2020시즌 신인왕 허예은 등을 앞세워 화끈하고 박진감 넘치는 경기력으로 2021-2022시즌 ‘통합우승’에 도전합니다.
                </p>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>팀정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
        <div class = row>
            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#fff5a3"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">모기업</text>
                    <text x="21%" y="60%" fill="#000000" dy=".3em">KB국민은행</text>
                </svg>

            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#fff5a3"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">연고지</text>
                    <text x="37%" y="60%" fill="#000000" dy=".3em">청주</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#fff5a3"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">감독</text>
                    <text x="33%" y="60%" fill="#000000" dy=".3em">김완수</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#fff5a3"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">코치</text>
                    <text x="15%" y="60%" fill="#000000" dy=".3em">진경석,오정현</text>
                </svg>
            </div>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>선수 정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        박지수
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body">
                        <strong>NO.19 박지수</strong> <br>
                          포지션 - C<br>
                          신장 - 196 cm<br>
                          생년월일 - 1998.12.06<br>
                          출신학교 - 분당경영고등학교<br>
                          드래프트 2017 WKBL 신입선수선발회 / 1라운드 / 1순위 (전체 1순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        허예은
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body">
                        <strong>NO.2 허예은</strong> <br>
                          포지션 - G<br>
                          신장 - 165 cm<br>
                          생년월일 - 2001.07.24<br>
                          출신학교 - 경북상주여자고등학교<br>
                          드래프트 2019~2020 WKBL 신입선수선발회 / 1라운드 / 1순위 (전체 1순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        강이슬
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body">
                       <strong>NO.11 강이슬</strong> <br>
                          포지션 - F<br>
                          신장 - 180 cm<br>
                          생년월일 - 1994.04.05<br>
                          출신학교 - 삼천포여자고등학교<br>
                          드래프트 2013 WKBL 신입선수 선발회 / 1라운드 / 1순위 (전체 1순위)<br>
                      </div>
                    </div>
                  </div>
            </div>


        </div>
    </div>

 </div>
{% endblock %}
