{% extends "base.html" %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb my-3 border-bottom pb-2">
        <h5 class="breadcrumb-item "><a href="{{ url_for('main.index') }}">Home</a></h5>
        <h5 class="breadcrumb-item"><a>TEAM</a></h5>
        <h5 class="breadcrumb-item active" aria-current="page">삼성생명</h5>
      </ol>
    </nav>

    <div class="text-center">
        <img src="https://www.wkbl.or.kr/static/images/team/teamlogo_03.png?ver=1.1" class="rounded">
        <p>
            <br>
        </p>
        <h1 class ="text-center"><strong>삼성생명 블루밍스</strong></h1>
        <p>
            <br>
        </p>

         <div class="row">
            <div class="col"></div>
            <div class="col">
                  <a href="http://www.samsungblueminx.com/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/1053/1053515.png">
                  </a>
                  <a href="https://www.instagram.com/goblueminx/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/2111/2111463.png">
                  </a>
                  <a href="https://www.facebook.com/goblueminx" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/124/124010.png">
                  </a>
             </div>
            <div class="col"></div>

         <p>
            <br>
            <br>
        </p>

         </div>
            <p></p>
            <p class = "text-justify">용인 삼성생명 블루밍스 농구단은 1977년 창단해 올해로 43년의 전통을 자랑하는 명문 구단입니다.
                차양숙, 김화순, 성정아, 최경희, 한 현산, 정은순, 유영주, 양수진, 박정은, 이미선 등 한국 여자 농구 발전에 기여한 스타플레이어를 대거 배출했습니다. 프로 출범 전에는 농구 대잔치 통산 8회 우승, 전국체전 통산 5회 우승 등 국내 주요 대회에서 수많은 기록을 세웠습니다.
                국제 대회에서도 블루밍스 소속 선수들은 1984년 LA 올림픽 은메달(조승연 감독, 김화순, 차양숙,문경자, 이미자, 최경희), 2000년 시드니 올림픽 4강(정은순, 박정은, 이미선)의 견인차 역할을 하기도 했습니다.
                <br /><br />프로 출범 이후에는 6차례 챔피언에 등극했으며 특히 지난 2020-2021시즌에는 정규리그 4위 팀 최초로 챔프전 우승을 달성, 많은 이들로 하여금 감동을 선사했습니다. 임근배 감독의 지휘 아래 주장 배혜윤을 필두로 국가대표에 승선한 윤예빈, 챔프 5차전 승리의 주역 김단비, 지난 시즌 신인왕에 빛나는 이적생 강유림 등 신구 조화를 이뤄 이번 시즌 V7 달성에 도전합니다. 2021-2022시즌을 기대케 하는 블루밍스에게 많은 응원 부탁드립니다.<p/>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>팀정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
        <div class = row>
            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">모기업</text>
                    <text x="28%" y="60%" fill="#000000" dy=".3em">제일기업</text>
                </svg>

            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">연고지</text>
                    <text x="37%" y="60%" fill="#000000" dy=".3em">용인</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">감독</text>
                    <text x="33%" y="60%" fill="#000000" dy=".3em">임근배</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">코치</text>
                    <text x="15%" y="60%" fill="#000000" dy=".3em">이미선,하상윤</text>
                </svg>
            </div>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>선수 정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        배혜윤
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body">
                        <strong>NO.25 배혜윤</strong> <br>
                          포지션 - C<br>
                          신장 - 183 cm<br>
                          생년월일 - 1989.06.10<br>
                          출신학교 - 숭의여자고등학교<br>
                          드래프트 2008 WKBL 신입선수 선발회 / 1라운드 / 5순위 (전체 5순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        윤예빈
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body">
                        <strong>NO.4 윤예빈</strong> <br>
                          포지션 - G<br>
                          신장 - 180 cm<br>
                          생년월일 - 1997.04.16<br>
                          출신학교 - 온양여자고등학교<br>
                          드래프트 2016 WKBL 신입선수선발회 / 1라운드 / 1순위 (전체 1순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        이해란
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body">
                       <strong>NO.21 이해란</strong> <br>
                          포지션 - F<br>
                          신장 - 182 cm<br>
                          생년월일 - 2003.05.29<br>
                          출신학교 - 광주수피아여자고등학교<br>
                          드래프트 2022 WKBL 신입선수선발회 / 1라운드 / 1순위 (전체 1순위)<br>
                      </div>
                    </div>
                  </div>
            </div>


        </div>
    </div>

 </div>
{% endblock %}
