{% extends "base.html" %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb my-3 border-bottom pb-2">
        <h5 class="breadcrumb-item "><a href="{{ url_for('main.index') }}">Home</a></h5>
        <h5 class="breadcrumb-item"><a>TEAM</a></h5>
        <h5 class="breadcrumb-item active" aria-current="page">신한은행</h5>
      </ol>
    </nav>

    <div class="text-center">
        <img src="https://www.wkbl.or.kr/static/images/team/teamlogo_07.png?ver=1.1" class="rounded">
        <p>
            <br>
        </p>
        <h1 class ="text-center"><strong>신한은행 에스버드</strong></h1>
        <p>
            <br>
        </p>

         <div class="row">
            <div class="col"></div>
            <div class="col">
                  <a href="https://www.sbirds.com/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/1053/1053515.png">
                  </a>
                  <a href="https://www.instagram.com/shsbird/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/2111/2111463.png">
                  </a>
                  <a href="https://www.facebook.com/shinhan.sbirds" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/124/124010.png">
                  </a>
             </div>
            <div class="col"></div>

         <p>
            <br>
            <br>
        </p>

         </div>
            <p></p>
            <p class = "text-justify"> 신한은행은 2004년 6월 현대건설 농구단을 인수하고,<br> 3개월 뒤 2004년 9월 신한은행 에스버드 여자농구단을 공식 창단하며 그 위대한 첫 발을 내디뎠습니다.<br />농구단 인수 후 불과 1년 뒤 어려웠던 팀 분위기를 극복하고 2005년 여자프로농구 여름리그에서 우승을 차지하며 신흥 명문 구단으로 도약하였습니다.<br> 그리고 2007년 겨울리그부터 2011~2012시즌까지 국내 프로스포츠 사상 최초로 6년 연속 통합우승이라는 대기록을 세우며 명실공히 여자프로농구 최고의 구단으로 명성을 떨쳤습니다.<br /><br />2020~2021시즌, 3시즌만에 플레이오프 진출에 성공한 에스버드 농구단은 이번 시즌을 명가 재건의 원년으로 삼고 새로운 바람을 준비하였습니다.<br />김단비, 이경은, 한채진을 구심점으로 3점 슈터 김아름, 전천후 유승희, 엄지척 한엄지는 이미 지난 시즌 자신의 능력을 보여주었습니다. 또한, 한 경기만에 존재를 각인시킨 김애나, 큰 부상 이후 복귀를 준비하고 있는 김연희, 박신자컵 최다득점 타이기록을 세운 이다연 역시 시즌 개막을 손꼽아 기다렸습니다.<br />지난 시즌 박진감 넘치는 경기로 팬들의 사랑을 받았던 에스버드 여전사들은 또 한번의 반전 있는 모습으로 리그를 달굴 예정입니다. 신한은행 에스버드를 아껴주시는 팬 여러분들의 사랑에 멋진 경기로 보답하겠습니다.
                </p>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>팀정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
        <div class = row>
            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">모기업</text>
                    <text x="28%" y="60%" fill="#000000" dy=".3em">신한은행</text>
                </svg>

            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">연고지</text>
                    <text x="37%" y="60%" fill="#000000" dy=".3em">인천</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">감독</text>
                    <text x="33%" y="60%" fill="#000000" dy=".3em">구나단</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">코치</text>
                    <text x="33%" y="60%" fill="#000000" dy=".3em">이휘걸</text>
                </svg>
            </div>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>선수 정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        김소니아
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body">
                        <strong>NO.24 김소니아</strong> <br>
                          포지션 - F<br>
                          신장 - 177 cm<br>
                          생년월일 - 1993.07.24<br>
                          출신학교 - Pitesti University Rowania<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        유승희
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body">
                        <strong>NO.10 유승희</strong> <br>
                          포지션 - G<br>
                          신장 - 175 cm<br>
                          생년월일 - 1994.10.05<br>
                          출신학교 - 전주기전여자고등학교<br>
                          드래프트 2013 WKBL 신입선수 선발회 / 1라운드 / 3순위 (전체 3순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        이해란
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body">
                       <strong>NO.5 변소정</strong> <br>
                          포지션 - F<br>
                          신장 - 180 cm<br>
                          생년월일 - 2003.10.19<br>
                          출신학교 - 분당경영고등학교<br>
                          드래프트 2022 WKBL 신입선수선발회 / 1라운드 / 3순위 (전체 3순위)<br>
                      </div>
                    </div>
                  </div>
            </div>


        </div>
    </div>

 </div>
{% endblock %}
