{% extends "base.html" %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb my-3 border-bottom pb-2">
        <h5 class="breadcrumb-item "><a href="{{ url_for('main.index') }}">Home</a></h5>
        <h5 class="breadcrumb-item"><a>TEAM</a></h5>
        <h5 class="breadcrumb-item active" aria-current="page">우리은행</h5>
      </ol>
    </nav>

    <div class="text-center">
        <img src="https://www.wkbl.or.kr/static/images/team/teamlogo_05.png?ver=1.1" class="rounded">
        <p>
            <br>
        </p>
        <h1 class ="text-center"><strong>우리은행 우리WON</strong></h1>
        <p>
            <br>
        </p>

         <div class="row">
            <div class="col"></div>
            <div class="col">
                  <a href="https://wooriwon.wooribank.com/basketball/main/main.php" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/1053/1053515.png">
                  </a>
                  <a href="https://www.instagram.com/wooriwon_basketball/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/2111/2111463.png">
                  </a>
                  <a href="https://www.facebook.com/wooriwonbasketball/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/32/124/124010.png">
                  </a>
             </div>
            <div class="col"></div>

         <p>
            <br>
            <br>
        </p>

         </div>
            <p></p>
            <p class = "text-justify">우리은행 여자프로농구단은 1958년 창단한 현재 우리나라 최초의 여자농구팀으로 63년의 역사와 전통을 자랑하는 명문구단 입니다.<br /> 1964년 단일팀으로 세계여자농구선수권대회에 출전해 세계 8위라는 성적을 거두며 한국여자농구 전성기를 열었고, 우리은행 여자농구단 소속이었던 박신자, 김명자, 김추자가 주축이 된 여자농구 대표팀은 1967년 4월 체코에서 개최된 제5회 세계여자농구선수권대회에서 준우승이라는 성적을 거두며 한국여자농구의 위상을 전 세계에 떨쳤습니다.

                WKBL 출범 이후에는 총 11회의 우승을 차지하며 역대 최다 우승팀이라는 자랑스러운 역사를 써 내려가고 있습니다.<br /><br /> 2010년대에는 통합 6연패를 비롯한 총 7번의 우승을 통해 2010년대 최고의 팀으로 성장하였으며, 2020-21시즌에도 정규리그 우승을 통해 강팀의 면모를 보여주었습니다.

                우리은행 여자프로농구단은 이번 시즌을 앞두고 디지털 혁신과 전문성을 강조하는 우리은행 대표 브랜드인 ‘WON’을 활용하여 ‘우리WON’이라는 새로운 구단명으로 출발하게 되었습니다. 새로운 구단명과 함께 그동안 우리은행 여자프로농구단이 쌓아올린 업적을 뛰어넘는 더욱 발전된 모습으로 팬 분들께 보답하겠습니다.</p>

        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>팀정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
        <div class = row>
            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">모기업</text>
                    <text x="28%" y="60%" fill="#000000" dy=".3em">우리은행</text>
                </svg>

            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="33%" y="40%" fill="#000000"font-weight="bold" dy=".3em">연고지</text>
                    <text x="37%" y="60%" fill="#000000" dy=".3em">아산</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">감독</text>
                    <text x="33%" y="60%" fill="#000000" dy=".3em">위성우</text>
                </svg>
            </div>

            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#cef0ff"/>
                    <text x="37%" y="40%" fill="#000000"font-weight="bold" dy=".3em">코치</text>
                    <text x="15%" y="60%" fill="#000000" dy=".3em">전주원,임영희</text>
                </svg>
            </div>
        <p>
            <br>
            <br>
        </p>

        <h4 class ="text-center"><strong>선수 정보</strong></h4>
        <p>
            <br>
            <br>
        </p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        박지현
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body">
                        <strong>NO.1 박지현</strong> <br>
                          포지션 - G<br>
                          신장 - 183 cm<br>
                          생년월일 - 2000.04.07<br>
                          출신학교 - 숭의여자고등학교<br>
                          드래프트 2018~2019 WKBL 신입선수선발회 / 1라운드 / 1순위 (전체 1순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        김단비
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body">
                        <strong>NO.23 김단비</strong> <br>
                          포지션 - F<br>
                          신장 - 180 cm<br>
                          생년월일 - 1990.02.27<br>
                          출신학교 - 명신여자고등학교<br>
                          드래프트 2008 WKBL 신입선수선발회 / 1라운드 / 2순위 (전체 2순위)<br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        박혜진
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body">
                       <strong>NO.7 박혜진</strong> <br>
                          포지션 - G<br>
                          신장 - 178 cm<br>
                          생년월일 - 1990.07.22<br>
                          출신학교 - 삼천포여자고등학교<br>
                          드래프트 2009 WKBL 신입선수선발회 / 1라운드 / 1순위 (전체 1순위)<br>
                      </div>
                    </div>
                  </div>
            </div>


        </div>
    </div>

 </div>
{% endblock %}
